<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:fragment="headFragment">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <meta name="description" content="SITE_DESCRIPTION">
    <meta name="author" content="SITE_AUTHOR">
    <!--    <link rel="icon" href="/favicon.ico">-->

    <title>투어도우미 관리자</title>

    <th:block layout:fragment="css"></th:block>

    <link rel="stylesheet" href="//unpkg.com/swiper/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"/>
    <script src="//code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script src="https://kit.fontawesome.com/5f4b51f7f0.js?ver=20220621" crossorigin="anonymous"></script>
<!--    <script src="https://cdn.ckeditor.com/ckeditor5/32.0.0/classic/ckeditor.js"></script>-->
<!--    <script src="https://cdn.ckeditor.com/ckeditor5/32.0.0/classic/translations/ko.js"></script>-->
    <script src="/ckeditor/build/ckeditor.js"></script>

    <script src="/js/script.js"></script>
    <script src="/js/script2.js"></script>

    <link rel="stylesheet" href="/ckeditor/sample/styles.css">
    <link rel="stylesheet" type="text/css" href="/css/font.css">
    <link rel="stylesheet" type="text/css" href="/css/common.css">
    <link rel="stylesheet" type="text/css" href="/css/responsive.css">
    <link rel="stylesheet" type="text/css" href="/css/admin.css">
    <link rel="stylesheet" type="text/css" href="/css/user.css">

    <!-- <link rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
    <link rel="stylesheet" href="https://uicdn.toast.com/tui.pagination/latest/tui-pagination.min.css" />

    <script type="text/javascript" src="https://uicdn.toast.com/tui.code-snippet/v1.5.0/tui-code-snippet.js"></script>
    <script type="text/javascript" src="https://uicdn.toast.com/tui.pagination/v3.4.0/tui-pagination.js"></script>
    <script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>  -->

    <style>
        html, body {min-width:800px !important;}
    </style>
</head>
<!-- [head] 영역 끝 -->
</html>