<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}"
      xmlns:th="http://www.thymeleaf.org">

<style layout:fragment="css">
    .address {
        width: calc(100%) !important;
        margin: 0px !important;
    }
</style>

<div layout:fragment="content">

    <main role="main" class="main-content">
        <script>
            const main_menu = 1;
        </script>

        <!--컨텐츠 영역-->
        <div class="contents admin">
            <div class="admin-contents-title">
                <h3 class="admin-title">학교 수정</h3>
            </div><!--admin-contents-title-->

            <input type="hidden" id="firstCourseSeq" th:value="${param.firstCourseSeq}"/>
            <div id="courseAdd-wrap" class="courseAdd-wrap">
                <div class="courseAdd-inner">
                    <div class="course-thumImg-wrap">
                        <img src="/images/admin/test_3.jpg" class="thumbImage" alt="학교 썸네일 이미지">

                        <div class="img-button">
                            <a class="img-add-btn cupoint" onclick="$('#thumbImage').click();">썸네일 이미지 등록</a>
                            <input type="file" class="d-none" id="thumbImage" accept="image/*"/>
                            <p class="img-size">※ 권장 이미지 사이즈 : 780x577</p>
                        </div>
                    </div>

                    <div class="courseAdd-text-wrap">
                        <div id="courseTextDiv" class="courseText-list courseText-list1">
                            <p class="title">학교</p>
                            <div class="add-d-flex">
                                <input type="text" class="firstCourseTitle ma-l-0 w100pro" placeholder="학교명을 입력해주세요.">
                            </div>
                            <div class="add-d-flex">
                                <input type="text" class="inputSemester ma-l-0 w30pro" placeholder="교육과정 정보(예: 2년제)">
                                <input type="text" class="inputPeriod w30pro" placeholder="유학 기간(예: 1년)">
                                <input type="text" class="inputTuition w40pro" placeholder="등록금(예: 2,000,000)"
                                       onkeyup="inputNumberFormat(this)"><span class="unit ma-r-50px">원</span>
                                <!--정보추가 버튼-->
                                <div class="time-add-btn">
                                    <a class="plus cupoint ma-r-0"><i class="fa-solid fa-plus"></i></a>
                                </div>
                            </div>

                            <div id="courseDetailsDiv" class="add-courseType">
                                <!--추가비용 내역-->
                                <!--<div class="add-d-flex">
                                    <div class="courseText-list courseText-list1">
                                        <span class="text bold">학기제:&nbsp;</span><span class="semester">2년제 / 4학기</span>,&nbsp;
                                        <span class="text bold">유학기간:&nbsp;</span><span class="period">1년</span>,&nbsp;
                                        <span class="text bold">등록금:&nbsp;</span><span class="tuition">2,000,000원</span>
                                    </div>
                                    &lt;!&ndash;삭제버튼&ndash;&gt;
                                    <div class="time-add-btn">
                                        <a class="minus cupoint course-detail-minus"><i
                                                class="fa-solid fa-minus"></i></a>
                                    </div>
                                </div>-->
                                <!--<div class="add-d-flex">
                                    <div class="courseText-list courseText-list1">
                                        <span class="text bold">학기제:&nbsp;</span><span class="">2년제 / 4학기</span>,&nbsp;
                                        <span class="text bold">유학기간:&nbsp;</span><span class="">1년</span>,&nbsp;
                                        <span class="text bold">등록금:&nbsp;</span><span class="">2,000,000원</span>
                                    </div>
                                    &lt;!&ndash;삭제버튼&ndash;&gt;
                                    <div class="time-add-btn">
                                        <a class="minus cupoint"><i class="fa-solid fa-minus"></i></a>
                                    </div>
                                </div>-->
                            </div>
                        </div><!--courseText-list-->

                        <div class="courseText-list courseText-list1">
                            <p class="title">주소</p>
                            <div class="add-d-flex">
                                <input type="text" name="check" data-name="주소" class="address"
                                       placeholder="주소를 입력해주세요.">
                            </div>
                        </div><!--courseText-list-->

                        <div class="courseText-list courseText-list2">
                            <p class="title">필요서류</p>
                            <div class="add-d-flex">
                                <input type="text" id="document" class="document w100pro" placeholder="필요한 서류를 입력해주세요.">
                            </div>
                        </div><!--courseText-list-->

                        <div id="optionChargeSelectDiv" class="courseText-list courseText-list1">
                            <p class="title">추가비용</p>
                            <div class="add-d-flex">
                                <div class="select-box">
                                    <select id="courseType">
                                        <option value="" selected>선택없음</option>
                                        <option value="교통비">교통비</option>
                                        <option value="기숙사비">기숙사비</option>
                                        <option value="교재비">교재비</option>
                                        <option value="보험료">보험료</option>
                                    </select>
                                </div>
                                <input type="text" id="inputOptionCharge" class="inputOptionCharge" placeholder="예) 10,000"
                                       onkeyup="inputNumberFormat(this)"><span class="unit ma-r-50px">원</span>
                                <div class="time-add-btn">
                                    <a class="plus cupoint ma-r-0"><i class="fa-solid fa-plus"></i></a>
                                    <!--<a class="minus cupoint"><i class="fa-solid fa-minus"></i></a>-->
                                </div>
                            </div>
                            <div id="optionChargeDiv" class="add-courseType">
                                <!--추가비용 내역-->
                                <!--<div class="add-d-flex">
                                    <div class="courseText-list courseText-list1">
                                        <span class="text ma-r-10px bold">교통비</span><span id="fare" class="amount">10,000원</span>
                                    </div>
                                    &lt;!&ndash;삭제버튼&ndash;&gt;
                                    <div class="time-add-btn">
                                        <a class="minus cupoint option-charge-minus"><i
                                                class="fa-solid fa-minus"></i></a>
                                    </div>
                                </div>-->
                                <!--<div class="add-d-flex">
                                    <div class="courseText-list courseText-list1">
                                        <span class="text ma-r-10px bold">기숙사비</span><span class="amount">1,000,000원</span>
                                    </div>
                                    &lt;!&ndash;삭제버튼&ndash;&gt;
                                    <div class="time-add-btn">
                                        <a class="minus cupoint"><i class="fa-solid fa-minus"></i></a>
                                    </div>
                                </div>-->
                            </div>
                        </div><!--courseText-list-->

                        <div class="courseText-list courseText-list2">
                            <p class="title">학위유학</p>
                            <div class="add-d-flex">
                                <input id="degree" type="text" class="degree w100pro" placeholder="학위유학 내용을 입력해주세요.">
                            </div>
                        </div><!--courseText-list-->

                        <div class="courseText-list courseText-list2">
                            <p class="title">특화</p>
                            <div class="add-d-flex">
                                <input id="specialization" type="text" class="specialization w100pro" placeholder="특화 내용을 입력해주세요.">
                            </div>
                        </div><!--courseText-list-->

                        <div class="courseText-list courseText-list2">
                            <p class="title">동영상 링크</p>
                            <div class="add-d-flex">
                                <input id="video" type="text" class="video w100pro" placeholder="동영상 링크를 입력해주세요.">
                            </div>
                        </div><!--courseText-list-->

                        <div class="courseText-list courseText-list6">
                            <p class="title">상세페이지 이미지</p>
                            <div class="add-d-flex">
                                <textarea id="editor" th:text="${course.descriptionImage}"></textarea>
                                <!--<input type="text">
                                <a href="#" class="find-file">파일 찾기</a>-->
                            </div>
                        </div><!--courseText-list-->

                    </div><!--courseAdd-text-wrap-->

                </div>

                <div class="courseAdd-button">
                    <a class="none-btn cupoint" onclick="history.back();">취소</a>
                    <a class="save-btn cupoint" onclick="updateCourse();">수정</a>
                </div>
            </div><!--courseAdd-wrap-->

        </div><!--contents-->

    </main>

    <script>
        let firstCourseSeq = $("#firstCourseSeq").val();
        let file;
        let attachedImgUrl;
        $(function () {
            readFirstcourse();
        });

        // 1차 코스정보 가져오기
        function readFirstcourse() {
            $.ajax({
                type: "GET",
                url: "/api/admin/course/first/detail",
                async: false,
                data: {"firstCourseSeq": firstCourseSeq},
                success: function (data) {
                    console.log(data);

                    //이미지 불러오기
                    if (data.thumbnailImage != null) {
                        let url = data.thumbnailImage.url;
                        $(".thumbImage").attr("src", url);
                        attachedImgUrl = url;
                    } else {
                        $(".thumbImage").attr("src", "/images/admin/test_3.jpg");
                        attachedImgUrl = "/images/admin/test_3.jpg";
                    }

                    let details = data.courseDetail.split("|");

                    let detailsTag = '';
                    details.forEach(function (arg) {
                        let args = arg.split('/');
                        let semester = args[0];
                        let period = args[1];
                        let tuition = args[2];

                        detailsTag += '<div class="add-d-flex courseDetailText">' +
                            '<div class="courseText-list courseText-list1">' +
                            '<span class="text bold">교육과정:&nbsp;</span><span class="semester">' + semester + '</span>,&nbsp;' +
                            '<span class="text bold">유학기간:&nbsp;</span><span class="period">' + period + '</span>,&nbsp;' +
                            '<span class="text bold">등록금:&nbsp;</span><span class="tuition">' + fcomma(tuition) + '원</span>' +
                            '</div>' +
                            '<div class="time-add-btn">' +
                            '<a class="minus cupoint course-detail-minus"><i class="fa-solid fa-minus"></i></a>' +
                            '</div>' +
                            '</div>';
                    });
                    $("#courseDetailsDiv").html(detailsTag);

                    let document = data.terms1;
                    if (document == null || document == '') {
                        document = "없음";
                    }

                    let degree = data.terms2;
                    if (degree == null || degree == "") {
                        degree = "없음";
                    }

                    let specialization = data.terms3;
                    if (specialization == null || specialization == '') {
                        specialization = "없음";
                    }
                    let video = data.terms4;
                    if (video == null || video == '') {
                        video = "없음";
                    }
                    $("#courseAdd-wrap .firstCourseTitle").val(data.firstCourseTitle);
                    $("#courseAdd-wrap .address").val(data.address);
                    $("#courseAdd-wrap .document").val(document);

                    // 추가 비용
                    let optionalChargeTag = '';
                    if (data.courseType.fare != null) {
                        optionalChargeTag += '<div class="add-d-flex">' +
                            '<div class="courseText-list courseText-list1">' +
                            '<span class="text ma-r-10px bold">교통비</span><span id="fare" class="amount fare">' + fcomma(uncomma(data.courseType.fare)) + '</span>' +
                            '</div>' +
                            '<div class="time-add-btn">' +
                            '<a class="minus cupoint option-charge-minus"><i class="fa-solid fa-minus"></i></a>' +
                            '</div>' +
                            '</div>';
                    }
                    if (data.courseType.dormitory != null) {
                        optionalChargeTag += '<div class="add-d-flex">' +
                            '<div class="courseText-list courseText-list1">' +
                            '<span class="text ma-r-10px bold">기숙사비</span><span id="dormitory" class="amount dormitory">' + fcomma(uncomma(data.courseType.dormitory)) + '</span>' +
                            '</div>' +
                            '<div class="time-add-btn">' +
                            '<a class="minus cupoint option-charge-minus"><i class="fa-solid fa-minus"></i></a>' +
                            '</div>' +
                            '</div>';
                    }
                    if (data.courseType.textbook != null) {
                        optionalChargeTag += '<div class="add-d-flex">' +
                            '<div class="courseText-list courseText-list1">' +
                            '<span class="text ma-r-10px bold">교재비</span><span id="textbook" class="amount textbook">' + fcomma(uncomma(data.courseType.textbook)) + '</span>' +
                            '</div>' +
                            '<div class="time-add-btn">' +
                            '<a class="minus cupoint option-charge-minus"><i class="fa-solid fa-minus"></i></a>' +
                            '</div>' +
                            '</div>';
                    }
                    if (data.courseType.insurance != null) {
                        optionalChargeTag += '<div class="add-d-flex">' +
                            '<div class="courseText-list courseText-list1">' +
                            '<span class="text ma-r-10px bold">보험료</span><span id="insurance" class="amount insurance">' + fcomma(uncomma(data.courseType.insurance)) + '</span>' +
                            '</div>' +
                            '<div class="time-add-btn">' +
                            '<a class="minus cupoint option-charge-minus"><i class="fa-solid fa-minus"></i></a>' +
                            '</div>' +
                            '</div>';
                    }
                    $("#optionChargeDiv").html(optionalChargeTag);

                    $("#courseAdd-wrap .degree").val(degree);
                    $("#courseAdd-wrap .specialization").val(specialization);
                    $("#courseAdd-wrap .video").val(video);
                }
            });
        }

        // '이미지 변경' 클릭 시
        $("#thumbImage").on("change", function () {
            file = $("#thumbImage")[0].files[0];
            let arrFiles = $(this)[0].files;
            if(arrFiles.length<1) {
                $(".thumbImage").attr("src", attachedImgUrl);
            }else {
                let url = URL.createObjectURL(file);
                $(".thumbImage").attr("src", url);
            }
        });

        // 코스수정 클릭 시
        function updateCourse() {
            if($("#courseAdd-wrap .firstCourseTitle").val()=="") {
                toastModal("학교명을 입력해주세요");
                return;
            }
            if($(".courseDetailText").length==0) {
                toastModal("교육과정 / 기간 / 등록금 정보를 입력해주세요");
                return;
            }
            if($("#courseAdd-wrap .address").val()=="") {
                toastModal("주소를 입력해주세요");
                return;
            }

            let formData = new FormData();

            formData.append("firstCourseSeq", $("#firstCourseSeq").val());
            formData.append("firstCourseTitle", $("#courseAdd-wrap .firstCourseTitle").val());
            formData.append("address", $("#courseAdd-wrap .address").val());

            let arrSemester = new Array();
            let arrPeriod = new Array();
            let arrTuition = new Array();
            $(".semester").each(function(){
                 arrSemester.push($(this).html());
            });
            $(".period").each(function(){
                arrPeriod.push($(this).html());
            });
            $(".tuition").each(function(){
                let tuition = $(this).html();
                arrTuition.push(uncomma(tuition.substring(0, tuition.length-1)));
            });

            let courseDetail = '';
            for(i=0; i<arrSemester.length; i++) {
                courseDetail += arrSemester[i]+'/'+arrPeriod[i]+'/'+arrTuition[i]+'|';
            }
            courseDetail = courseDetail.substring(0, courseDetail.length-1);

            formData.append("courseDetail", courseDetail);

            let objOptionCharge = {};
            let fare = $("#fare").html();
            let dormitory = $("#dormitory").html();
            let textbook = $("#textbook").html();
            let insurance = $("#insurance").html();
            if(fare!=null && fare!=undefined) {
                objOptionCharge.fare = uncomma(fare);
            }
            if(dormitory!=null && dormitory!=undefined) {
                objOptionCharge.dormitory = uncomma(dormitory);
            }
            if(textbook!=null && textbook!=undefined) {
                objOptionCharge.textbook = uncomma(textbook);
            }
            if(insurance!=null && insurance!=undefined) {
                objOptionCharge.insurance = uncomma(insurance);
            }

            let optionCharge = JSON.stringify(objOptionCharge);

            formData.append("courseType", optionCharge);
            formData.append("terms1", $("#document").val());
            formData.append("terms2", $("#degree").val());
            formData.append("terms3", $("#specialization").val());
            formData.append("terms4", $("#video").val());

            if ($("#thumbImage")[0].files[0] != undefined) formData.append("thumbnailImage", $("#thumbImage")[0].files[0]);

            if (editor.getData() != "") {
                formData.append("descriptionImage", editor.getData());
            }

            // FormData의 값 확인
            /*for (var pair of formData.entries()) {
                console.log(pair[0] + ', ' + pair[1]);
            }*/

            $.ajax({
                type: "POST",
                url: "/api/admin/course/first/update",
                data: formData,
                processData: false,
                contentType: false,
                success: function (data) {
                    toastModal("학교 정보가 수정되었습니다.");
                    setTimeout(() => location.href = "/admin/first-course", 1000);
                }
            });
        }


        // 학기제/기간/등록금 +, - 클릭 시
        $("#courseTextDiv").on("click", ".plus, .minus", function (e) {
            if (e.target.className.includes("plus")) {
                let inputSemester = $("#courseTextDiv .inputSemester").val();
                let inputPeriod = $("#courseTextDiv .inputPeriod").val();
                let inputTuition = $("#courseTextDiv .inputTuition").val();

                if (inputSemester == '') {
                    toastModal("학기제 정보를 입력해주세요");
                    return;
                }
                if (inputPeriod == '') {
                    toastModal("유학 기간을 입력해주세요");
                    return;
                }
                if (inputTuition == '') {
                    toastModal("등록금을 입력해주세요");
                    return;
                }
                let detailsTag = '<div class="add-d-flex courseDetailText">' +
                    '<div class="courseText-list courseText-list1">' +
                    '<span class="text bold">학기제:&nbsp;</span><span class="semester">' + inputSemester + '</span>,&nbsp;' +
                    '<span class="text bold">유학기간:&nbsp;</span><span class="period">' + inputPeriod + '</span>,&nbsp;' +
                    '<span class="text bold">등록금:&nbsp;</span><span class="tuition">' + fcomma(inputTuition) + '원</span>' +
                    '</div>' +
                    '<div class="time-add-btn">' +
                    '<a class="minus cupoint course-detail-minus"><i class="fa-solid fa-minus"></i></a>' +
                    '</div>' +
                    '</div>';

                $("#courseDetailsDiv").append(detailsTag);
                // if (boxLength == 5) {
                //     toastModal("신청자 필수사항은 최대 5개까지 가능합니다.");
                // } else {
                //     if (boxLength >= 1) {
                //         let requireBox = $(".require-text:first").clone();
                //         requireBox.find("input").val("");
                //         requireBox.find(".plus").remove();
                //         requireBox.find(".minus").removeClass("hide");
                //         $("#requireDiv").append(requireBox);
                //
                //         $(".require-text:first").find(".minus").addClass("hide");
                //     }
                // }
            } else {
                $(this).parent().parent().remove();
            }
        });

            // 예약가능시간의 +, - 클릭 시
            $("#optionChargeSelectDiv").on("click", ".plus, .minus", function (e) {
                if (e.target.className.includes("plus")) {
                    let courseType= $("#courseType").val();
                    let cost = $("#inputOptionCharge").val();

                    let optionalChargeTag = '';
                    if(courseType=="") {
                        toastModal("추가 할 항목을 선택하세요");
                        return;
                    }
                    if(courseType=="교통비") {
                        if(cost=="") {
                            toastModal("비용을 입력하세요");
                            return;
                        }
                        if($(".fare").length>0) {
                            toastModal("교통비는 이미 추가 되었습니다.");
                            return;
                        }

                        optionalChargeTag += '<div class="add-d-flex">' +
                            '<div class="courseText-list courseText-list1">' +
                            '<span class="text ma-r-10px bold">교통비</span><span id="fare" class="amount fare">' + fcomma(uncomma(cost)) + '</span>' +
                            '</div>' +
                            '<div class="time-add-btn">' +
                            '<a class="minus cupoint option-charge-minus"><i class="fa-solid fa-minus"></i></a>' +
                            '</div>' +
                            '</div>';
                    }
                    if(courseType=="기숙사비") {
                        if(cost=="") {
                            toastModal("비용을 입력하세요");
                            return;
                        }
                        if($(".dormitory").length>0) {
                            toastModal("기숙비는 이미 추가 되었습니다.");
                            return;
                        }

                        optionalChargeTag += '<div class="add-d-flex">' +
                            '<div class="courseText-list courseText-list1">' +
                            '<span class="text ma-r-10px bold">기숙사비</span><span id="dormitory" class="amount dormitory">' + fcomma(uncomma(cost)) + '</span>' +
                            '</div>' +
                            '<div class="time-add-btn">' +
                            '<a class="minus cupoint option-charge-minus"><i class="fa-solid fa-minus"></i></a>' +
                            '</div>' +
                            '</div>';
                    }
                    if(courseType=="교재비") {
                        if(cost=="") {
                            toastModal("비용을 입력하세요");
                            return;
                        }
                        if($(".textbook").length>0) {
                            toastModal("교재비는 이미 추가 되었습니다.");
                            return;
                        }

                        optionalChargeTag += '<div class="add-d-flex">' +
                            '<div class="courseText-list courseText-list1">' +
                            '<span class="text ma-r-10px bold">교재비</span><span id="textbook" class="amount textbook">' + fcomma(uncomma(cost)) + '</span>' +
                            '</div>' +
                            '<div class="time-add-btn">' +
                            '<a class="minus cupoint option-charge-minus"><i class="fa-solid fa-minus"></i></a>' +
                            '</div>' +
                            '</div>';
                    }
                    if(courseType=="보험료") {
                        if(cost=="") {
                            toastModal("비용을 입력하세요");
                            return;
                        }
                        if($(".insurance").length>0) {
                            toastModal("보험료는 이미 추가 되었습니다.");
                            return;
                        }

                        optionalChargeTag += '<div class="add-d-flex">' +
                            '<div class="courseText-list courseText-list1">' +
                            '<span class="text ma-r-10px bold">보험료</span><span id="insurance" class="amount insurance">' + fcomma(uncomma(cost)) + '</span>' +
                            '</div>' +
                            '<div class="time-add-btn">' +
                            '<a class="minus cupoint option-charge-minus"><i class="fa-solid fa-minus"></i></a>' +
                            '</div>' +
                            '</div>';
                    }
                    $("#optionChargeDiv").append(optionalChargeTag);
                    $("#courseType").val("");
                    $("#inputOptionCharge").val("");
                }else {
                    $(this).parent().parent().remove();
                }
            });

        // 신청자필수사항 read
        function inputClone(value) {
            let requireBox = $(".require-text:first").clone();
            requireBox.find("input").val(value);
            requireBox.find(".plus").remove();
            requireBox.find(".minus").removeClass("hide");
            $("#requireDiv").append(requireBox);

            $(".require-text:first").find(".minus").addClass("hide");
        }

        function inputNumberFormat(obj) {
            obj.value = fcomma(uncomma(obj.value));
        }
    </script>

</div>
</html>