<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/tourhelperUser/layout}"
      xmlns:th="http://www.thymeleaf.org">

<style layout:fragment="css">
</style>

<div layout:fragment="content">
    <main role="main" class="main-content">
        <div class="tourHelper">
            <div class="business-list-wrap">

                <!-- 페이지별 타이틀 -->
                <div class="page-title"><span>비즈니스 정보</span></div>

                <div class="content-wrap">
                    <div>
                        <div id="business-list-div" class="list-wrap">
                            <!--<div class="box">
                                <div class="img-area"><img src="/tourhelperUser/images/sample_trip.jpg" onerror="this.style.background='var(&#45;&#45;light-grey2)'"/></div>
                                <div class="txt">
                                    <div>비즈니스정보 제목 비즈니스정보 제목 비즈니스정보 제목 비즈니스정보 제목</div>
                                    <div><span>항목</span><span>내용내용내용내용내용내용</span></div>
                                    <div><span>항목</span><span>내용내용내용내용내용내용</span></div>
                                </div>
                            </div>
                            <div class="box">
                                <div class="img-area"><img src="/tourhelperUser/images/sample_trip.jpg" onerror="this.style.background='var(&#45;&#45;light-grey2)'"/></div>
                                <div class="txt">
                                    <div>비즈니스정보 제목 비즈니스정보 제목 비즈니스정보 제목 비즈니스정보 제목</div>
                                    <div><span>항목</span><span>내용내용내용내용내용내용</span></div>
                                    <div><span>항목</span><span>내용내용내용내용내용내용</span></div>
                                </div>
                            </div>
                            <div class="box">
                                <div class="img-area"><img src="/tourhelperUser/images/sample_trip.jpg" onerror="this.style.background='var(&#45;&#45;light-grey2)'"/></div>
                                <div class="txt">
                                    <div>비즈니스정보 제목 비즈니스정보 제목 비즈니스정보 제목 비즈니스정보 제목</div>
                                    <div><span>항목</span><span>내용내용내용내용내용내용</span></div>
                                    <div><span>항목</span><span>내용내용내용내용내용내용</span></div>
                                </div>
                            </div>
                            <div class="box">
                                <div class="img-area"><img src="/tourhelperUser/images/sample_trip.jpg" onerror="this.style.background='var(&#45;&#45;light-grey2)'"/></div>
                                <div class="txt">
                                    <div>비즈니스정보 제목 비즈니스정보 제목 비즈니스정보 제목 비즈니스정보 제목</div>
                                    <div><span>항목</span><span>내용내용내용내용내용내용</span></div>
                                    <div><span>항목</span><span>내용내용내용내용내용내용</span></div>
                                </div>
                            </div>
                            <div class="box">
                                <div class="img-area"><img src="/tourhelperUser/images/sample_trip.jpg" onerror="this.style.background='var(&#45;&#45;light-grey2)'"/></div>
                                <div class="txt">
                                    <div>비즈니스정보 제목 비즈니스정보 제목 비즈니스정보 제목 비즈니스정보 제목</div>
                                    <div><span>항목</span><span>내용내용내용내용내용내용</span></div>
                                    <div><span>항목</span><span>내용내용내용내용내용내용</span></div>
                                </div>
                            </div>
                            <div class="box">
                                <div class="img-area"><img src="/tourhelperUser/images/sample_trip.jpg" onerror="this.style.background='var(&#45;&#45;light-grey2)'"/></div>
                                <div class="txt">
                                    <div>비즈니스정보 제목 비즈니스정보 제목 비즈니스정보 제목 비즈니스정보 제목</div>
                                    <div><span>항목</span><span>내용내용내용내용내용내용</span></div>
                                    <div><span>항목</span><span>내용내용내용내용내용내용</span></div>
                                </div>
                            </div>
                            <div class="box">
                                <div class="img-area"><img src="/tourhelperUser/images/sample_trip.jpg" onerror="this.style.background='var(&#45;&#45;light-grey2)'"/></div>
                                <div class="txt">
                                    <div>비즈니스정보 제목 비즈니스정보 제목 비즈니스정보 제목 비즈니스정보 제목</div>
                                    <div><span>항목</span><span>내용내용내용내용내용내용</span></div>
                                    <div><span>항목</span><span>내용내용내용내용내용내용</span></div>
                                </div>
                            </div>-->
                        </div>
                    </div>
                </div>

            </div>


            <!--script START-->
            <script>
                let totalPages;
                let page = 1;
                let size = 8;
                let country="비즈니스"; // // 미얀마 여행 or 국내 여행 페이지에 따라 '미얀마' 또는 '대한민국' 또는 '비즈니스' 로 변수 값만 변경
                let category;

                getTourList();

                $("#keyword").on("keydown", function(e) {
                    if(e.keyCode==13) {
                        $("#btn-search").click();
                    }
                });

                $("#btn-search").on("click", function() {
                    page=1;
                    getTourList();
                });

                function getTourList() {
                    keyword = $("#keyword").val();
                    $.ajax({
                        type: "get",
                        url: "/api/common/tour",
                        async:false,
                        data: {
                            "size": size,
                            "page": page-1,
                            "country": country,
                            "category": category
                        },
                        success: function (data) {
                            totalPages = data.totalPages;
                            let list = data.content;
                            let tag = '';
                            if (list != null && list.length != 0) {
                                for (i = 0; i < list.length; i++) {
                                    let imgUrl = '/tourhelperUser/images/sample_trip.jpg';
                                    if (list[i].thumbnailImage != null && list[i].thumbnailImage.url != '') {
                                        imgUrl = list[i].thumbnailImage.url;
                                    }
                                    tag += '<div class="box" seq="'+list[i].secondCourseSeq+'">' +
                                        '<div class="img-area"><img src="'+imgUrl+'" onerror="this.style.background=\'var(--light-grey2)\'"/></div>' +
                                        '<div class="txt">' +
                                        '<div>'+list[i].secondCourseTitle+'</div>' +
                                        '<div><span>항목</span><span>내용 미정</span></div>' +
                                        '<div><span>항목2</span><span>내용 미정</span></div>' +
                                        '</div>' +
                                        '</div>';
                                }
                            }
                            if(page==1) {
                                $("#business-list-div").html(tag);
                            }else if(page>1) {
                                $("#business-list-div").append(tag);
                            }
                            selList();
                        }
                    });
                }

                // 무한 스크롤
                window.onscroll = function(e) {
                    if((window.innerHeight + window.scrollY) >= document.body.offsetHeight) {
                        setTimeout(function(){
                            page++;
                            if(page<=totalPages) {
                                getTourList();
                            }
                        }, 500)
                    }
                }

                $(function (){
                    // 리스트 선택 시 상세정보 화면으로 이동하기
                    selList();
                });
                $(window).resize(function() {
                    // 리스트 선택 시 상세정보 화면으로 이동하기
                    selList();
                });

                function selList(){
                    // mobile 화면
                    if(matchMedia("screen and (max-width: 1199px)").matches){
                        $('.business-list-wrap .list-wrap .box').css("cursor", "pointer");
                        $('.business-list-wrap .list-wrap .box').on('click', function (){
                            let tourSeq = $(this).attr("seq");
                            location.href='/business/detail?tourSeq='+tourSeq;
                        });
                    }
                    // pc 화면
                    if(matchMedia("screen and (min-width: 1200px)").matches){
                        $('.business-list-wrap .list-wrap .box').css("cursor", "default");
                        $('.business-list-wrap .list-wrap .box .txt > div:nth-of-type(1)').on('click', function (){
                            let tourSeq = $(this).parent().parent().attr("seq");
                            location.href='/business/detail?tourSeq='+tourSeq;
                        });
                    }
                }
            </script>
            <!--script END-->
        </div>
    </main>
</div>
</html>