<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/tourhelperUser/layout}"
      xmlns:th="http://www.thymeleaf.org">

<style layout:fragment="css">
</style>

<div layout:fragment="content">
    <main role="main" class="main-content">
        <div class="tourHelper">
            <div class="copy-wrap">

                <!-- 페이지별 타이틀 -->
                <div class="page-title"><span>페이지 제목</span></div>

                <div class="content-wrap">
                    <div></div>
                </div>

            </div>


            <!--script START-->
            <script></script>
            <!--script END-->
        </div>
    </main>
</div>
</html>