<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/tourhelperUser/layout}"
      xmlns:th="http://www.thymeleaf.org">

<style layout:fragment="css">
</style>

<div layout:fragment="content">
    <main role="main" class="main-content">
        <div class="tourHelper">
            <div class="tourHelperInfo-wrap">

                <!-- 페이지별 타이틀 -->
                <div class="page-title"><span>투어헬퍼 소개</span></div>

                <div class="content-wrap">
                    <div>
                        <img src="/tourhelperUser/images/tourhelper_info.jpg" onerror="this.style.backgroundColor='var(--light-grey2)';"/>
                    </div>
                </div>

                <div style="width:94%; margin:0 auto;">
                    <p style="font-size:14px; color:#2e3192; text-align: center; margin-top:30px; font-weight: 600;">CONTACT US</p>
                    <p style="font-size:28px; text-align: center; margin-bottom:30px; font-weight: 600; color:#303030;">오시는 길</p>
                </div>

                <div class="mapWrap" style="position:relative; width:94%; margin:0 auto;">
                    <!-- * 카카오맵 - 지도퍼가기 -->
                    <!-- 1. 지도 노드 -->

                    <div id="daumRoughmapContainer1673863356353" class="root_daum_roughmap root_daum_roughmap_landing" style="width:100%;"></div>

                    <!--
                        2. 설치 스크립트
                        * 지도 퍼가기 서비스를 2개 이상 넣을 경우, 설치 스크립트는 하나만 삽입합니다.
                    -->
                    <script charset="UTF-8" class="daum_roughmap_loader_script" src="https://ssl.daumcdn.net/dmaps/map_js_init/roughmapLoader.js"></script>

                    <!-- 3. 실행 스크립트 -->
                    <script charset="UTF-8">
                        new daum.roughmap.Lander({
                            "timestamp" : "1673863356353",
                            "key" : "2dfxt",
                            "mapWidth" : "auto",
                            "mapHeight" : "auto"
                        }).render();
                    </script>
                </div>

            </div>


            <!--script START-->
            <script></script>
            <!--script END-->
        </div>
    </main>
</div>
</html>